body {
  width: 100%;
  background-color: #f7f5e8;
  font-weight: 200;
}
.container-fluid {
  background-color: #f7f5e8;
  padding-bottom: 100px;
  z-index: 10;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f7f5e8;
  vertical-align: center;
  font-weight: 200;
}
.container-fluid b {
  font-weight: 400;
}
ul {
  list-style-type: none;
}
header {
  width: 100%;
}
.fixed {
  position: fixed;
  z-index: 50;
  width: 100%;
}
footer {
  margin: 20px 0px;
}
.page-h1 {
  font-size: 2.3em;
  color: #b70101;
  margin: 20px 0px -5px 25px;
  padding: 0;
  font-weight: 200;
}
.number-of-nots {
  background-color: #f7f5e8;
  color: #b70101;
  border-radius: 4px;
  padding: 0px 4px;
  font-size: 0.7em;
  margin-left: 10px;
  position: relative;
  top: -3px;
  font-weight: 200;
}
.center {
  text-align: center;
}
.header-div {
  background: #b70101;
  padding-bottom: 30px;
}
.header-text {
  color: #f7f5e8;
  font-weight: 200;
}
.header-text:hover {
  color: #f7f5e8;
  text-decoration: none;
}
h1.header-text {
  font-size: 4em;
  margin-top: 1em;
  font-weight: 200;
}
h2.header-text {
  font-size: 1.6em;
  padding-bottom: 1em;
}
#downloads {
  padding-bottom: 2em;
}
#downloads button {
  margin-top: 1em;
}
.page-content {
  position: relative;
  top: 55px;
}
.my-uw-nav {
  background-color: #b70101;
  padding-top: 8px;
  height: 53px;
  position: fixed;
}
.my-uw-nav h3 {
  position: relative;
  left: 30px;
  top: -5px;
  color: #fff;
  padding: 10px 0 0 10px;
  margin: 0;
}
form {
  text-align: center;
}
.crest {
  display: block;
  position: absolute;
  width: 55px;
  top: -15px;
  left: -7px;
  z-index: 5;
  overflow: hidden;
}
.main-search {
  width: 90%;
  display: block;
  background-color: #b70101;
  border: none;
  border-bottom: 1px solid #f7f5e8;
  margin-top: -7px;
  margin-bottom: 5px;
  font-size: 1.6em;
  color: #f7f5e8;
  float: right;
  padding: 0px 0px 2px 6px;
}
.main-search[placeholder="Search My-UW"] {
  color: #f7f5e8;
}
.main-search:focus {
  outline: none;
}
.glyphicon-search {
  float: left;
  position: relative;
  left: 20px;
  top: 50px;
  color: #f7f5e8;
}
.up-portlet-wrapper {
  position: fixed;
  top: 30px;
  left: 20px;
  margin: 0;
  padding: 0;
}
.up-portlet-wrapper li {
  font-size: 1.1em;
  width: 120px;
  padding: 7px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f7f5e8;
}
.up-portlet-wrapper a:hover {
  text-decoration: none;
}
.up-portlet-wrapper,
.mockup-links-list {
  padding: 40px 0px 60px 20px;
}
.up-portlet-wrapper li,
.mockup-links-list li {
  text-align: left;
  font-size: 1.1em;
  margin: 3px 0px;
}
.mockup-links-list li {
  font-size: 1.5em;
}
li a {
  color: #b70101;
}
li a:hover {
  color: #660000;
}
#final-list-item {
  border-bottom: none;
}
.portlet-div {
  background-color: #f7f5e8;
  margin: 20px 20px 0px 0px;
  padding-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #b70101;
  box-model: border-box;
}
.left-column .portlet-div {
  margin: 20px 10px 0px 0px;
}
.right-column {
  padding-left: 0px !important;
}
.portlet-title {
  background-color: #b70101;
  margin: 0px;
  padding: 6px;
}
.portlet-title h1 {
  font-size: 1.3em;
  color: #ffffff;
  width: 100%;
  font-weight: 200;
  display: inline;
}
.portlet-title > div {
  float: right;
  display: inline;
}
.portlet-title span {
  color: #ffffff;
  font-size: 1.1em;
  padding-right: 3px;
  margin-top: 2px;
}
.portlet-title span:hover {
  cursor: pointer;
}
.portlet-content div {
  width: 100%;
}
.portlet-list {
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
  padding-left: 15px;
}
.portlet-list li {
  font-size: 1.2em;
}
.portlet-div h3 {
  font-size: 1.4em;
  font-weight: 200;
  margin: 0;
  padding: 10px 0px 5px 10px;
}
.portlet-div .button-group {
  display: inline-block;
  width: 100%;
  margin: 0px 0px -7px -8px;
}
.portlet-div .btn {
  float: right;
  border: 1px solid #660000;
  background-color: #f7f5e8;
  color: #660000;
  margin: 4px;
}
.portlet-div .btn-default:hover {
  color: #f7f5e8;
  background-color: #660000;
  border: 1px solid #660000;
}
.portlet-div .btn-primary {
  background-color: #f7f5e8;
  color: #b70101;
  border: 1px solid #b70101;
}
.portlet-div .btn:focus {
  outline: none;
}
.portlet-div .btn-primary:hover {
  background-color: #b70101;
  border: 1px solid #b70101;
  color: #f7f5e8;
}
#lynda-list {
  padding-left: 15px;
}
.lynda-photo {
  display: block;
  margin: 10px auto 0px;
}
.glyphicon-th-large {
  font-size: 1.5em;
  margin-top: -2px;
}
.arrow-box {
  position: relative;
  background: #f7f5e8;
  border: 3px solid #660000;
  height: 250px;
  top: 20px;
  right: 8%;
  border-radius: 6px;
}
.arrow-box:after,
.arrow-box:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.arrow-box:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #f7f5e8;
  border-width: 10px;
  margin-left: -10px;
}
.arrow-box:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #660000;
  border-width: 15px;
  margin-left: -15px;
  float: left;
}
.two-col {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
}
.app-drawer {
  position: relative;
  top: 5px;
  color: #f7f5e8;
  padding: 10px 0px 0px 40%;
}
.app-drawer-div {
  width: 100%;
}
.app-drawer-list {
  margin: 0;
  padding: 0px 0px 0px 10px;
}
.app-drawer-list li {
  text-align: left;
}
::-webkit-input-placeholder {
  color: #f7f5e8;
  font-size: 0.8em;
  line-height: 1.8em;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #660000;
  font-size: 1em;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #660000;
  font-size: 1em;
}
:-ms-input-placeholder {
  color: #660000;
  font-size: 1em;
}
.notifications-list {
  margin: 20px 20px 0px 0px;
  padding: 0px;
}
.notifications-list li {
  font-size: 1.1em;
  color: #555;
  background-color: #e7d9c1;
  border-radius: 4px;
  margin: 8px 0px;
  padding: 8px 10px 8px 10px;
}
.notifications-list a {
  color: #b70101;
}
.notifications-list a :hover {
  color: #660000;
  text-decoration: none;
}
li.read {
  background-color: #e7d9c1;
}
.exit-icon {
  float: right;
  margin-top: 3px;
}
.exit-icon:hover {
  cursor: pointer;
}
.read-icon {
  color: #b70101;
  font-size: 0.8em;
  margin-right: 10px;
  position: relative;
  top: -2px;
}
.read-icon:hover {
  cursor: pointer;
}
.empty-state {
  border: none;
  z-index: 3;
}
#floating-div {
  border-radius: 6px;
  box-shadow: 0px 0px 50px #adadad;
  width: 70%;
  height: 300px;
  margin: 120px auto;
  position: absolute;
  left: 15%;
  z-index: 40;
  padding-top: 40px;
  background-color: #f7f5e8;
}
#floating-div h1 {
  font-size: 3em;
  font-weight: 200;
}
.button-group-empty {
  width: 100%;
  margin: 30px auto;
  display: block;
}
.portlet-content .button-div,
.button-div {
  width: 48.5%;
  display: inline-block;
}
.button-group-empty .btn-primary {
  display: inline;
  float: none;
  padding: 15px 30px;
  font-size: 1.3em;
  font-weight: 200;
}
#floating-div #btn-left,
.portlet-content #btn-left {
  float: right;
}
#floating-div #btn-right,
.portlet-content #btn-right {
  float: left;
}
.fake-app-list {
  margin: 0px 0px 0px 0px;
  padding: 0px;
}
.fake-app-list li {
  font-size: 1.1em;
  color: #555;
  background-color: #e7d9c1;
  border-radius: 4px;
  margin: 8px 0px;
  padding: 8px 10px 8px 10px;
  height: 120px;
  opacity: 0.5;
}
#floating-div .button-group {
  display: inline-block;
  width: 100%;
}
#floating-div .btn {
  float: right;
  border: 1px solid #660000;
  background-color: #f7f5e8;
  color: #660000;
  margin: 4px;
}
#floating-div .btn-default:hover {
  color: #f7f5e8;
  background-color: #660000;
  border: 1px solid #660000;
}
#floating-div .btn-primary {
  background-color: #f7f5e8;
  color: #b70101;
  border: 1px solid #b70101;
}
#floating-div .btn:focus {
  outline: none;
}
#floating-div .btn-primary:hover {
  background-color: #b70101;
  border: 1px solid #b70101;
  color: #f7f5e8;
}
.feedback {
  margin-top: 0px;
}
#between-buttons {
  width: 1%;
  display: inline-block;
  vertical-align: middle;
}
#between-buttons p {
  position: relative;
  top: -25px;
}
.no-search-input {
  width: 180px;
  display: block;
  background-color: #f7f5e8;
  border-radius: 4px;
  border: 1px solid #b70101;
  margin-top: -7px;
  margin-bottom: 5px;
  position: relative;
  top: -24px;
  left: 10px;
  font-size: 1.6em;
  color: #b70101;
  padding: 12px 8px 12px 10px;
}
.no-search-input[placeholder="Search again"] {
  color: #b70101;
}
.no-search-input:focus {
  outline: none;
}
.no-search-input::-webkit-input-placeholder {
  color: #b70101;
  font-size: 0.8em;
  line-height: 1.8em;
}
.no-search-input:-moz-placeholder {
  /* Firefox 18- */
  color: #660000;
  font-size: 1em;
}
.no-search-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #660000;
  font-size: 1em;
}
.no-search-input:-ms-input-placeholder {
  color: #660000;
  font-size: 1em;
}

.notification-item.unread {
  font-weight: bold;
  border: 1px black solid;
  cursor: pointer;
}

@media (max-width: 992px) {
  .main-search {
    display: none;
  }
  .up-portlet-wrapper {
    display: none;
  }
  .portlet-div {
    margin-right: 0px;
  }
  .notifications-list {
    margin-right: 0px;
  }
  .glyphicon-search {
    visibility: hidden;
  }
  .app-drawer {
    display: none;
  }
  .left-column .portlet-div {
    margin: 20px 0px 0px 0px;
  }
  .right-column {
    padding-left: 15px !important;
  }
}
